<table class="tabautor">
   <tr>
      <td width="155">
         <img src="https://avatars.githubusercontent.com/u/30217311?v=4" alt="Renato Monteiro Batista" width="150" height="150">
      </td>
      <td valign="top">
         <div class="autor">Renato Monteiro Batista</div>
         Engenheiro de Computação<br>
         <a href="https://renato.ovh"><i class="fa-solid fa-globe" title="Renato Monteiro Batista Site Pessoal"></i> https://renato.ovh</a><br>
         <a href="https://twitter.com/renatomb" title=""><i class="fa-brands fa-x-twitter" title="Twitter do Renato"></i></a>&nbsp;<a href="https://github.com/renatomb"><i class="fa-brands fa-github" title="Perfil do Renato no GitHub"></i></a>&nbsp;<a href="http://blog.renato.ovh"><i class="fa-solid fa-blog" title="Reino da Computação - Blog"></i></a>&nbsp;<a href="https://keybase.io/renatomb"><i class="fa-brands fa-keybase" title="Perfil do Renato no Keybase"></i></a>&nbsp;<a href="https://t.me/r3n4t0/"><i class="fa-brands fa-telegram" title="Contactar o Renato no Telegram"></i></a>
      </td>
      <td width="155">
         <img src="{{site.img}}qr-pix-largo.png" alt="Renato Monteiro Batista" width="150" height="150">
      </td>
   </tr>
</table>

{% include gads.html %}
